html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/white-waves.png");
    background-repeat: repeat;
  }

/* Teal color (used for headings and backgrounds): #4aaaa5 */
h1 {
    background: #4aaaa5;
    padding: 20px;
    text-decoration: none;
    color: white;
    display: inline;
    /* transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

h1, 
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p,
a,
form,
button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
}

h2 {
    color: #4aaaa5;
    /* clear: both; */
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

.main-content {
    background: #ffffff;
    width: 920px;
    margin: 0 auto;
    clear: both;
    padding: 20px;
    margin-top: 20px;
    /* Sticky Footer */
    height: 100%;
    overflow: auto;
}

.menu {
    /* float: right;  */
    text-decoration: none;
    padding-left: 10px;
    padding-top: 5px;
    color: #666666;
}

nav .menu { 
    text-align:right 
}

li {
    display: inline;
}

ul {
    float: right;
    clear: both;
}

.menu:hover {
    color: #4aaaa5;
}

#home h1:hover {
    color: #4aaaa5;
    background: #fff;
}

header {
    background:#ffffff;
    margin: 0 auto;
    border-bottom: 2px solid #dddddd;
    
}

/* Regular font color (used for paragraphs and all text besides the headings): #777777 */
p {
    color: #777777;
    line-height: 1.8rem;
}

footer {
    background: #666666;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

nav {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

#home {
    text-decoration: none;
    display: inline;
}

#profile-photo {
    width: 200px;
    margin: 10px;
    float: left;
}

#portfolio-items {
    margin: 0 20px;
}

.portfolio-image {
    position: relative;
    padding: 20px;
    float: left;
}

.portfolio-image img:hover {
    opacity: 0.5;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

.portfolio-title {
    position: absolute;
    bottom: 50px;
    color: white;
    z-index: 10;
    padding: 10px;
    background: #4aaaa5;
    width: 230px;
    text-align: center;
}

label,
input,
textarea {
    margin: 10px 10px;
    width: 900px;
    font-size: 18px;
}

input,
textarea {
    border: 1px solid #dddddd;
}

button {
    background: #4aaaa5;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: none;
}




/* ##### MEDIA QUERIES ###### */

@media screen and (max-width: 980px) {
    /* body {
        background: red;
    } */
    .main-content {
        width: 90%;
    }
    nav {
        width: 90%;
    }
    /* .portfolio-items {
        margin: 0 50px;
    } */
    .portfolio-image {
        padding: 76px;
    }

    label,
    input,
    textarea {
        width: 97%;
    }

}

@media screen and (max-width: 768px) {
    /* body {
        background: yellow;
        z-index: 100;
    } */
    .main-content {
        width: 90%;
    }

    label,
    input,
    textarea {
        width: 94%;
    }
    textarea {
        height: 250px;
    }
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }
    nav,
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 134px;
    }

    h1 {
        display: block;
        margin: 0;
        margin-bottom: 26px;

    }
    a.menu {
        padding: 20px;
        background: white;
        background: none;
        float: unset;
    }      
}
